
<div class="container py-3">

<h2 class="mb-4 text-center">Finishing Workout: {{ workout.name }}</h2>

{# this template needs to be populated with the details of the workout that was just completed 
   it should display the start-date & time as well as the finish date & time, and it should allow
   the member to change those 
   it should also present a text area for the member to add notes or provide comments/feedback about the workout 
   if there were any changes to the workout parameters for the workout, those should be presented for the member 
   to review, and if they want to make any changes to those they can
   also there can be a way here for the user to adjust the parameters for the next time they start the workout
   #}
    This is the finishing workout page.  Here we can show a summary of the workout that was just completed, and allow the member to make any adjustments or add any notes about the workout before they officially finish it.

  <!-- Optional “Finish Workout” button -->
  <form hx-post="{{ really_finish_workout_url }}"
        hx-target="#content"
        hx-swap="innerHTML">

    <input type="hidden" name="workout_id" value="{{ workout.id }}">
    <input type="hidden" name="program_id" value="{{ program.id }}">
    <input type="hidden" name="scheduled_workout_event_id" value="{{ scheduled_workout_event_id }}">
    <input type="hidden" name="workout_instance_key" value="{{ workout_instance_key }}">
    <input type="hidden" name="program_key" value="{{ program_key }}">
    <button type="submit" class="btn btn-success mt-3">Finish Workout!!!</button>

    <button type="button" class="btn btn-danger mt-3"
            hx-post="{{ continue_workout_url }}"
            hx-target="#content"
            hx-swap="innerHTML">Go back to continue your Workout</button>
  </form>

</div>
