<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h2>{{ entity_display_name }}</h2>
            <button class="btn btn-light btn-sm"
                hx-get="/admin/add/{{entity_name}}"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-push-url="/admin/add/{{ entity_name }}">
                Add New {{ entity_display_name }}
            </button>
        </div>
    </div>        
    <div id="entities-container">
    {% include "entity_list_fragment.html" %}
    </div>        
</div>
