
<div class="container mt-5">
    <div id="editor_holder" style="margin-bottom:1em;"></div>
    <script>
        // JSONEditor.defaults.iconlibs.fontawesome5.iconClass = 'fas';
        // JSONEditor.defaults.options.theme = 'bootstrap5';
        console.log('schema: ', {{ schema|tojson }});
        console.log('entity: ', {{ entity|tojson }});
        var editor = new JSONEditor(document.getElementById('editor_holder'), {
            schema: {{ schema|tojson }},
            compact: true,
            disable_collapse: true,
            upload_end_point: '{{ upload_file_url }}',
            disable_properties: true,
            disable_array_delete_last_row: true,
            disable_array_delete_all_rows: true,
            disable_array_reorder: true,
            disable_edit_json: true,
            array_controls_top: false,
            iconlib: 'fontawesome5',
            startval: {{ entity|tojson }}
        });
        document.getElementById('save-json').addEventListener('click', async () => {
            const payload = editor.getValue();
            try {
                const res = await fetch('{{ update_entity_url}}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(payload)
                });
                if (!res.ok) throw new Error(res.statusText);
                {# const json = await res.json(); #}
                {# document.getElementById('save-status').textContent = '✅ Saved!'; #}
                showToast("Entity was saved!");

                # this is a hack to force the page to reload
                # because the fetch results are not being intercepted by HTMX
                window.location.replace("/admin/?entity-table={{table_id}}");

            } catch (err) {
                console.error(err);
                {# document.getElementById('save-status').textContent =
                '❌ Save failed: ' + err.message; #}
                showToast("Entity failed to be saved!");
            }
        });

        document.getElementById('back-to-list').addEventListener('click', () => {
            window.history.back();
        });

</script>
    <button id="back-to-list" type="button" class="btn btn-primary">
    Back
    </button> 
    <button id="save-json" type="button" class="btn btn-primary">
    Save
    </button>    

    <button type="button" class="btn btn-danger" hx-post="{{ delete_entity_url }}" hx-target="#content" hx-swap="innerHTML"
        hx-confirm="Are you sure you want to delete this {{ table_id }}?">
        Delete</button>

    <div id="save-status" role="status" style="margin-top:.5em;"></div>    
</div>
