<div class="container mt-5">

    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h2>{{ entity_display_name }}</h2>
                {% if entity_add_route %}
                <button class="btn btn-light btn-sm"
                    hx-get="{{ entity_add_route}}"
                    hx-target="#content"
                    hx-swap="innerHTML"
                    hx-push-url="{{ entity_add_route }}">
                    Add New {{ entity_display_name }}
                </button>
            {% endif %}
        </div>
    </div>        

    <div id="{{ entities_container }}">
    {% include "entity_list_fragment.html" %}
    </div>        
</div>
