<div class="card-body" hx-trigger="entityListChanged from:body" hx-get="{{ entities_listing_route }}" hx-target="#{{entities_container}}" hx-swap="outerHTML">
    {% if filter_terms %}
    <div class="d-flex justify-content-between align-items-center mb-0 p-2 bg-light border rounded">
        <button class="btn btn-outline-primary btn-sm"
            hx-get="{{ filter_dialog_route }}"
            {% if args %}
            hx-vals='{{ args|tojson }}'
            {% endif %}            
            hx-target="#dialog"
            hx-swap="innerHTML">
            <i class="bi bi-search"></i> Filter
        </button>
        <span class="text-muted small">
        {% for term in filter_terms %}
          <strong>{{ term.label }}:</strong> {{ term.value }} |
        {% endfor %}
        </span>
    </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    {% for field in fields_to_display %}
                    <th scope="col">{{ field }}</th>
                    {% endfor %}
                    {% if entity_action_route %}
                    <th scope="col" class="text-center">Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    {% for value in entity.field_values %}
                    {% if loop.index == 1 %}
                    <td>
                        <a href="#"
                            hx-get="{{ entity_view_route }}&key={{ entity.key }}"
                            hx-target="#dialog"
                            hx-swap="innerHTML">
                            {{ value }}
                        </a>
                    </td>
                    {% else %}
                    <td>{{ value }}</td>
                    {% endif %}
                    {% endfor %}
                    {% if entity_action_route %}
                    <td class="text-center">
                        <button class="btn btn-outline-secondary btn-sm"
                            hx-get="{{ entity_action_route }}&key={{ entity.key }}"
                            hx-push-url="{{ entity_action_route }}&key={{ entity.key }}"                            
                            hx-target="#content"
                            hx-swap="innerHTML">
                            <i class="bi {{ entity_action_icon}}"></i>
                        </button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<nav aria-label="Page navigation" class="mt-3">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if page <= 1 %}disabled{% endif %}">
      <a class="page-link" href="#"
         hx-get="{{ entities_listing_route }}&page={{ page - 1 }}&filter={{ filter_terms }}"
         {% if args %}
         hx-vals='{{ args|tojson }}'
         {% endif %}
         hx-target="#{{entities_container}}">
        Previous
      </a>
    </li>
    <li class="page-item disabled">
      <span class="page-link">
        Page {{ page }} of {{ total_pages }}
      </span>
    </li>
    <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
      <a class="page-link" href="#"
         hx-get="{{ entities_listing_route }}&page={{ page + 1 }}&filter={{ filter_terms }}"
        {% if args %}
         hx-vals='{{ args|tojson }}'
        {% endif %}
        hx-target="#{{entities_container}}">
        Next
      </a>
    </li>
  </ul>
</nav>
