<!--
    This template is used to create a filter dialog for the entities listing page.
    It uses HTMX to update the entities listing based on the selected filters.
-->

{% if filter_results_target %}
        {% set filter_target = filter_results_target %}
{% else %}
        {% set filter_target = "entities-container" %}
{% endif %}

<div id="dialog" class="modal-dialog modal-dialog-centered">
<form   hx-get="{{ entities_listing_route }}"
        hx-target="#{{ filter_target }}"
        hx-swap="innerHTML"
    class="modal-content">
    <div class="modal-header text-black">
        <h5 class="modal-title">Filter {{ entity_display_name }} list</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" name="entity_table" value="{{ entity_name }}">
        {# filters is a list with this value:  [
                        {
                            "type" : "choice",
                            "label" : "Level",
                            "options" : [
                                { "label" : "All Levels", "value" : "" },
                                { "label" : "Basic", "value" : "basic" },
                                { "label" : "Intermediate", "value" : "intermediate" },
                                { "label" : "Advanced", "value" : "advanced" }
                            ]
                        },
                        {
                            "type" : "text",
                            "label" : "Filter Text"
                        }
                        ]
            iterate over this list to create the filter form
            and use the values to create the filter form
                         #}
        {% for filter in filters %}
        {% if filter.type == "choice" %}
        <div class="mb-3">
            <label for="{{ filter.id|lower }}" class="form-label">{{ filter.label }}:</label>
            <select name="{{ filter.id|lower }}" id="{{ filter.id|lower }}" class="form-select form-select-sm">
                {% for option in filter.options %}
                <option value="{{ option.value }}" {% if args[filter.id|lower] == option.value %}selected{% endif %}>{{ option.label }}</option>
                {% endfor %}
            </select>
        </div>
        {% elif filter.type == "text" %}
        <div class="mb-3">
            <label for="{{ filter.id|lower }}" class="form-label">{{ filter.label }}:</label>
            <input name="{{ filter.id|lower }}" type="text" id="{{ filter.id|lower }}"
                   class="form-control form-control-sm" placeholder="Filter…" value="{{ args[filter.id|lower] }}">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
        </button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            Filter
        </button>
    </div>
</form>
</div>
