<div class="col mt-0 bg-dark text-white">
    <div class="row">
        <div class="col-md-1">
            <nav class="nav flex-column text-white">
                <a class="nav-link active text-white" hx-get="/profile/profile2" hx-target="#profilecontent"
                    hx-swap="innerHTML">Profile</a>
                <a class="nav-link text-white" hx-get="/profile/settings" hx-target="#profilecontent"
                    hx-swap="innerHTML">Settings</a>
                <a class="nav-link text-white" href="/logout">Logout</a>
            </nav>
        </div>
        <div class="col-md-11" id="profilecontent">
        </div>
    </div>
</div>