<div class="container  mb-5 bg-secondary p-3">
    <div class="h3 mb-5 text-white">Schedule</div>

    {% for event in events %}

    <div class="row align-items-center mb-5"
        style="align-items: stretch; height:auto">

        <div class="col-3 text-center bg-white text-black" 
        style="padding: 0px; padding-right: 0px;align-items: stretch; height:auto">
            <div class="h4 fw-bold">{{ event.dayofweek }}</div>
            <div class="h5">{{ event.month }}</div>
            <div class="h5">{{ event.month_day }}</div>
            <div class="h6">{{ event.time }}</div>
        </div>

        <div class="col-9" style="padding-left: 0px; padding-right: 0px;">
            <div class="card border-primary border-1">
                <div class="card-title fw-bold display-8 text-center text-primary">{{ event.name }}</div>
                <h5 class="card-text text-center display-10 text-muted">Location: YMCA</h5>
                <h5 class="card-sub-title text-center "> <span># {{ event.num_members }}: </span>
                                    <!-- <h5 class="card-text text-left text-muted"> -->
                    {% for j in event.joined %}
                    <span>{{ j.member_short_name }}</span><span>, </span>
                    {% endfor %}
                </h5>
            </h5>
                <div class="card-footer">
                    <button 
                        class="btn btn-primary btn-lg text-white m-2" 
                        hx-get="/edit_event/{{ event.id }}"
                        hx-target="#dialog"
                        hx-swap="innerHTML"
                    >
                </div>
            </div>
        </div>
    </div>
    {% endfor %}    
</div>
