<div class="container" hx-trigger="eventListChanged from:body" hx-get="/schedule" hx-target="this" hx-swap="outerHTML">
    <div class="row align-items-center mb-2" style="align-items: stretch; height:auto">
        <div class="col-8 h3 mb-1 text-center bg-secondary p2">Upcoming Events</div>
        <button class="col-4 btn btn-primary btn-sm text-white m-0" hx-get="/schedule/create_event" hx-target="#dialog"
            hx-swap="innerHTML">Add</button>
    </div>
    {% for event in events %}


    <div class="row align-items-center mb-2" style="align-items: stretch; height:auto">

        <div class="col-12" style="padding-left: 0px; padding-right: 0px;">
            <div class="card border-primary border-1">
                <div class="card-header fw-bold text-center text-primary">{{ event.name }}</div>
                <div class="card-sub-title text-center text-secondary">{{ event.description }}</div>
                <div class="card-body text-center">

                    <div class="h4 fw-bold">{{ event.day_of_week }} {{ event.month }} {{ event.month_day }} @ {{
                        event.time_display }}</div>

                    <h5 class="card-sub-title text-center "> <span>{{ event.num_members_joined }} attending: </span>
                        {% for j in event.joined %}
                        <span>{{ j.member_short_name }}</span><span>, </span>
                        {% endfor %}
                    </h5>
                    <button class="btn btn-primary btn-sm text-white m-0"
                        hx-get="/schedule/edit_event/{{ event.event_id }}" hx-target="#dialog" hx-swap="innerHTML">Edit Event</button>
                    <button class="btn btn-primary btn-sm text-white m-0"
                        hx-get="/schedule/join_event/{{ event.event_id }}" hx-target="#dialog" hx-swap="innerHTML">Join Event</button>                        
                </div>
                <div class="card-footer">
                    Location: {{ event.location }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>