<form hx-post="{{ request.path }}" class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-black">{{ 'Join Event' }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
  
    <div class="modal-body">
      <div class="mb-3">
        <label for="title" class="form-label text-black">Select an activity to do</label>
        <div class="mb-3">
          <label for="type" class="form-label">Type</label>
          <select name="activity" id="type" class="form-select" required>
            <option value="Workout #1">Workout #1</option>
            <option value="Workout #2">Workout #2</option>
            <option value="Workout #3">Workout #3</option>
            <option value="Workout #4">Workout #4</option>
            <option value="Workout #5">Workout #5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
  
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">Join</button>
    </div>
  </form>
