<div class="table-responsive" hx-trigger="eventListChanged from:body" hx-get="/schedule/your-schedule" hx-target="this" hx-swap="outerHTML">
    <table class="table table-sm table-custom align-middle mb-0">
        <tbody>
        {% for e in events %}
            {% if e.type == "date" %}
                    <tr class="date-row">
                    <td colspan="3" class="px-3 py-2 fw-bold small text-uppercase">
                        {{ e.dayOfWeek}} {{ e.display_date }}  
                        <button class="btn btn-sm btn-outline-primary float-end"
                        hx-get="/schedule/create_event?date={{ e.date }}" 
                        hx-target="#modals-here"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"                        
                        >
                        <i class="bi bi-plus-lg"></i>
                        </button>
                    </td>
                    </tr>
            {% else %}
                    <tr>
                    <td class="px-3 small text-muted" style="width: 20%;">{{ e.display_time }}</td>
                    <td class="px-3 small" style="width: 60%;">{{ e.summary }}</td>
                    {% if e.summary == "Rich_K" %}  
                    <td class="px-3 text-end" style="width: 20%;">
                        <button class="btn btn-sm btn-outline-secondary" 
                        hx-get="/schedule/edit_event?id={{ e.id }}&date={{ e.date }}&time={{ e.time }}" 
                        hx-target="#modals-here"
                        hx-swap="innerHTML"
                        data-bs-toggle="modal"
                        data-bs-target="#modals-here"                        
                        >
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                    {% else %}
                        <td class="px-3 text-end" style="width: 20%;"></td>
                    {% endif %}
                    </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
