<span id="params-{{ exercise_id }}-{{ workout_id }}">
{% if current_parameters.sets %}
{{ current_parameters.sets if current_parameters.sets is not none else item.parameters.sets }} set,
{% endif %}

{% if current_parameters.reps %}
{{ current_parameters.reps if current_parameters.reps is not none else item.parameters.reps }} reps,
{% endif %}

{% if current_parameters.weight %}
at {{ current_parameters.weight if current_parameters.weight is not none else item.parameters.weight }} {{ (current_parameters.weight_unit if current_parameters.weight_unit else item.parameters.weight_unit) or 'kg' }}
{% endif %}

{% if current_parameters.time %}
for {{ current_parameters.time if current_parameters.time is not none else item.parameters.time }} secs/set
{% endif %}
</span>
