<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="mb-0">Details</h6>
  </div>
  {% if exercise %}
    <div class="card-body">

        <input type="text" name="name" class="form-control form-control-sm"
            value="{{ exercise.name }}" placeholder="Exercise Name"
            hx-trigger="change delay:500ms, focusout"
            hx-post="{{ url_for('workouts.update_exercise_name', exercise_id=exercise.id) }}"
            hx-swap="none">

        <p class="small">{{ exercise.instructions }}</p>

        {% if exercise.images %}
        <h6>Images</h6>
        <div class="row gx-2">
            {% for img in exercise.images %}
            <div class="col-6 mb-2">
                <img
                src="{{ img.url }}"
                alt="{{ img.description }}"
                data-full-url="{{ img.url }}"
                data-bs-toggle="modal"
                data-bs-target="#imageModal"
                class="img-fluid rounded"
                style="cursor:pointer;"
                >

            </div>
            {% endfor %}
        </div>
        {% endif %}


        {% if exercise.videos %}
        <h6>Video</h6>
        {% for vid in exercise.videos %}
            <video controls class="w-100 mb-2">
            <source src="{{ vid.url }}" type="video/mp4">
            Your browser does not support embedded video.
            </video>
        {% endfor %}
        {% endif %}
    </div>
    {% else %}
    <div class="card-body">
        <p class="text-muted
            text-center p-3">No exercise selected. Please select an exercise from the library.</p>
    </div> 
    {% endif %}       
</div>
