
    <div class="container mt-4">
        <div class="d-flex justify-content-between mb-2">
            <!-- <button class="btn btn-primary">Add New Entity</button> -->
        </div>
        <table class="table table-responsive table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Id</th>
                    <th scope="col">Inputs</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for definition in definitions %}
                <tr>
                    <td><input type="checkbox" class="entity-checkbox"></td>
                    <td>{{ definition.id }}</td>
                    <td>{{ definition.context }}</td>
                    <td><button class="btn btn-warning btn-sm"
                        hx-get="/tables/orch-defs/create?def-id={{ definition.id }}"
                        hx-target="#content"
                        hx-swap="innerHTML"
                        hx-push-url="/tables/orch-defs/create?def-id={{ definition.id }}"                        
                        >Create Instance</button></td>
                    <td><button class="btn btn-warning btn-sm"
                        hx-get="/tables/orch-instances?def-id={{ definition.id }}"
                        hx-target="#content"
                        hx-swap="innerHTML"
                        hx-push-url="/tables/orch-instances?def-id={{ definition.id }}"
                        >View Instances</button></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
