
  <form>
    <fieldset>
        <h2>Create Orchestration Instance: {{ orchestration.definition_id }}</h2>
        <legend>Orchestration Instance Context</legend>
        <div class="table rows">
            {% for key, value in orchestration.context.items() %}
                <p>
                    <label for="{{ key }}">{{ key|capitalize }}</label>
                    <input name="{{ key }}" id="{{ key }}" type="text" placeholder="{{ key|capitalize }}"
                           value="{{ value }}">
                    <span class="error">{{ orchestration.errors[key] }}</span>
                </p>
            {% endfor %}
        </div>
        <button
            hx-post="/tables/orch-defs?def-id={{ orchestration.definition_id }}"
            hx-swap="innerHTML"
            hx-confirm="Are you sure you want to create this instances?"
            hx-target="#content">
        >Create Instance</button>
    </fieldset>
</form>

<p>
    <a href="/tables/orch-defs">Back</a>
</p>
