    <div class="container mt-4">
        <!-- <div class="d-flex justify-content-between mb-2">
            <div>
                <input type="text" name="definition-id" id="definition-id" placeholder="Orchestration Definition Id..." value="{{ definition_id}}">
                <button hx-get="/orchestrations/instances" hx-target="#content" hx-include="[name='definition-id']">Go</button> 
            </div>
        </div> -->

        {{ ctx.entity_type }}
        
        <table class="table table-responsive table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    {% for field in ctx.fields %}
                    <th scope="col">{{ field }}</th>
                    {% endfor %}                
                </tr>
            </thead>
            <tbody>
                {% for entity in ctx.entities %}
                <tr>
                    {% for value in entity.val_list %}
                    <td>{{ value }}</td>
                    {% endfor %}
                    <td><button class="btn btn-warning btn-sm"
                        hx-get="/configurations/edit?entity-type={{table_id}}&key={{ entity.key_val }}&partition={{ entity.partition_val }}"
                        hx-target="#content"
                        hx-swap="innerHTML"
                        hx-push-url="/configurations/edit?entity-type={{table_id}}&key={{ entity.key_val }}&partition={{ entity.partition_val }}"
                        >Edit</button></td>                    
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
