
<!-- entity=entity_to_edit, fields=fields, table_id=table_id, errors, key_val, partition_val, update_url-->
  <form>
    <fieldset>
        <h2>Entity: {{ table_id }} Id: {{ key_val }} Partition: {{ partition_val }} </h2>
        <div class="table rows">
            <!-- {% for key, value in entity.items() %}
                <p>
                    <label for="{{ key }}">{{ key|capitalize }}</label>
                    <input name="{{ key }}" id="{{ key }}" type="text" placeholder="{{ key|capitalize }}"
                           value="{{ value }}">
                </p>
            {% endfor %} -->
            {% for key in fields %}
                <p>
                    <label for="{{ key }}">{{ key|capitalize }}</label>
                    <input name="{{ key }}" id="{{ key }}" type="text" placeholder="{{ key|capitalize }}"
                           value="{{ entity.get(key, '') }}">
                    <!-- <span class="error">{{ errors[key] }}</span> -->
                </p>
            {% endfor %}
        </div>
        <button
            hx-post="{{ update_url }}"
            hx-swap="innerHTML"
            hx-confirm="Are you sure?"
            hx-target="#content">
        >Update</button>
    </fieldset>
</form>

<p>
    <a href="{{ back_url }}">Back</a>
</p>
