# 
# GitHub Actions workflow.
#

name: Provision Container App Infrastrcuture (prompts for app name)

on:
  workflow_dispatch:
      inputs:
          name:
              type: choice
              description: Container app to provision
              options: 
              - photos
              - feapp
              - echo
              - entities
jobs:

  call-provision-container-app:
    uses: ./.github/workflows/_provision_containerapp_infra.yml
    with:
      containerapp_name: ${{ github.event.inputs.name }}
      container_registry_image: ${{ github.event.inputs.name }}:latest
      containerapp_environment_rg: ltl-aca-rg
      containerapp_environment_name: ltl-aca-env
      containerapp_template: ./provision_container_app.json
      containerapp_location: East US 2
      queue_name: none

    secrets:
      container_registry: ${{ secrets.container_registry }}
      container_registry_id: ${{ secrets.container_registry_id }}
      container_registry_pw: ${{ secrets.container_registry_pw }}
      azure_credentials: ${{ secrets.azure_credentials }}
      azure_storagetable_connectionstring: ${{ secrets.azure_storagetable_connectionstring }}
      aad_client_id: ${{ secrets.aad_client_id }}
      aad_client_secret: ${{ secrets.aad_client_secret }}
      google_client_secret_base64: ${{ secrets.google_client_secret_base64 }}
      tenant_id: ${{ secrets.tenant_id }}
      subscription_id: ${{ secrets.subscription_id }}
